<html>

<head>
<title>Login Page</title>
</head>
<body>

	<form action="register" method="post">
		<h2>
			Enter the details to Register
		</h2><br>
		Name:
		<input type="text" placeholder="Enter the name" name="name" required>
		<br><br>
		Department:
		<input type="text" placeholder="Department" name="dept" required>
		<br><br>
		email: <input type="text" placeholder="E-mail" name="email" required>
		<br><br>
		phone: <input type="phone" placeholder="Phone" name="phone" required>
		<br><br>
		gender:    <input type="text" placeholder="Gender" name="gender" required>
		<br><br>
		Password:    <input type="password" placeholder="Password" name="password" required>
		<br><br>
		<input type="submit">
</body>
<style>
     body{
	color:brown;	
	align-items:center;
	justify-content:center;
	display:flex;
}

input{
		display :block;
		width :100%;
		padding :1.5%;
		border-radius:2%;
		border-color:crimson;
	}


</style>
</html>